In [111]:
import pandas as pd
import numpy as np

In [112]:
# Importacion de los DataFrames
df_features = pd.read_csv('features_dataset.csv')
df_sales = pd.read_csv('sales_dataset.csv')
df_stores = pd.read_csv('stores_dataset.csv')

In [113]:
df_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [114]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [115]:
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [116]:
df_features.head(2)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True

In [117]:
df_sales.head(2)

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True

In [118]:
df_stores.head(2)

   Store Type    Size
0      1    A  151315
1      2    A  202307

In [119]:
# Columnas de los DF
df_features.columns.to_list()

['Store',
 'Date',
 'Temperature',
 'Fuel_Price',
 'MarkDown1',
 'MarkDown2',
 'MarkDown3',
 'MarkDown4',
 'MarkDown5',
 'CPI',
 'Unemployment',
 'IsHoliday']

In [120]:
# Set "Store" como indice
# df_features_1 = df_features.set_index('Store')
df_sales_1 = df_sales.set_index('Store')
df_stores_1 = df_stores.set_index('Store')

In [136]:
#Union de los df features y stores
df_sales_stores = df_sales_1.join(df_stores_1)
df_sales_stores.head(2)

       Dept        Date  Weekly_Sales  IsHoliday Type    Size
Store
1         1  05/02/2010      24924.50      False    A  151315
1         1  12/02/2010      46039.49       True    A  151315

In [122]:
df_sales_stores.shape

(421570, 6)

In [140]:
df_sales_stores.head(3)

       Dept        Date  Weekly_Sales  IsHoliday Type    Size
Store
1         1  05/02/2010      24924.50      False    A  151315
1         1  12/02/2010      46039.49       True    A  151315
1         1  19/02/2010      41595.55      False    A  151315

In [141]:
print(df_sales_stores.columns.to_list())

['Dept', 'Date', 'Weekly_Sales', 'IsHoliday', 'Type', 'Size']

In [143]:
df_sales_stores_1 = df_sales_stores[['Type', 'Dept', 'Weekly_Sales', 'IsHoliday', 'Date']]
df_sales_stores_1.head(2)

      Type  Dept  Weekly_Sales  IsHoliday        Date
Store
1        A     1      24924.50      False  05/02/2010
1        A     1      46039.49       True  12/02/2010

In [149]:
df_sales_stores_1.shape

(421570, 5)

In [148]:
#exportar archivo a csv
df_sales_stores_1.to_csv('sales_stores.csv')